@use './../../styles/variables' as* ;

.bodyAbout{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    margin: 30px auto;
    width: 1023px;
    justify-content: center;

}