.tags{
    display: flex;
    height:25px;
    width: 365px;
    gap: 10px;
    flex-wrap: wrap;
}

.tag{
        width: 115px;
        height: 25px;
        border-radius: 10px;
        background-color: #ff6060;
        color: white;
        font-weight: 700;
        font-size: 14px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
    }
