@use './../../styles/variables' as* ;

.collapse-header{
    width: 100%;
    height: 54px;
    background-color: #ff6060;
    color:white;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;

    @media (max-width:$bk-mobile){
        height: 30px;
        padding:10px 6px 10px 10px;
    }



    &_title{
        height: 54px;
        display: flex;
        align-items: center;
        @include title($weight:$weight-bold);
        @media (max-width:$bk-mobile){
            font-size:13px;
        }
    }

    &_logo{
        width: 24px;
        height: 13px;
        transition: transform 0.3s ease;
        @media (max-width:$bk-mobile){
            width: 16px;
            height: 9px;
        }
        &.rotate{
            transform: rotate(-180deg);
        }
    }

    &_button{
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    &_content{
    background-color:#f6f6f6;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    @include title($size-normal,400,black);
    @media (max-width:$bk-mobile){
        font-size: 12px;
    }
}}

.flatCollapse {
    .collapse-header{
    border-radius: 10px;
    &_title{
        @include title(18px,$weight-bold,white)
    }

} 
}

