
.collapse-container{
    width: 1023px;
    height: 54px;
    background-color: #ff6060;
    color:white;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    &_title{
        font-size: 24px;
        font-weight: 700;
        align-items: center;
    }
    &_logo{
        width: 32px;
        height:32px;
    }
}