@use './../../styles/variables' as* ;

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 68px;
    max-height: 1240px;
}