
@use './../../styles/variables' as* ;

.navbar{
  display: flex;
  width: auto;
  height: auto;

  &_list{
    display: flex;
    justify-content: space-between;
    gap: 57px;
    list-style: none;
    align-items: center;
    height: 100%;
    @include title;
  }

  &_link{
    a{text-decoration: none;
    color: black;
    }
  }
}