@use './../../styles/variables' as* ;

.gallery{
    max-width: 1240px;
    background-color:#f6f6f6;
    border-radius: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    //grid-column-gap: 10px; a revoir  car gallery non centré*/
    grid-row-gap: 33px;
    min-height:100vh;
    margin: 50px auto 0 auto;
    padding-left: 33px;
    padding-bottom: 50px;
    box-sizing: border-box;

    @media (max-width:$bk-mobile){
        grid-template-columns: 1fr;
        gap: 22px;
        justify-items: center;
        margin-top: 22px;
        background-color: white;
        padding: 0;
    }
     @media (min-width:$bk-tablet-min) and (max-width:$bk-tablet-max){
        grid-template-columns: 1fr 1fr;
    }
}