
//@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@use './../../styles/variables' as* ;

.errorPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    gap: 139px;
    margin-top: 139px;
    margin-bottom: 139px;

    &_title{
        @include title(288px,$weight-bold,$main-color)

    }
    &_text{
        @include title ($size-mediumX,500,$main-color)

    }

    &_link{
        @include title( $size-normal, 500, black)
    }

}