
@use './../../styles/variables' as* ;

.footer {
  background-color: black;
  height: 209px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  @include title;

  &_p{margin-top: 40px;
  }

  &_logo{
    padding-top: 66px;
  }
//  @media (max-width: 480px) {
//   
//      }
}
