
@use './../../styles/variables' as* ;

.footer {
  background-color: black;
  height: 209px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  @include title;
  @media (min-width:$bk-tablet-min) and (max-width:$bk-tablet-max){
   margin: 0;
   }

  &_p{
    margin-top: 40px;
    @media (max-width:$bk-mobile){
      font-size:12px;
      margin-top: 20px;
      line-height: 100%;
    }
  }

  &_logo{
    padding-top: 66px;
    height: 40px;
  }

}

.hidden{
    display: none;
    @media (max-width:$bk-mobile){
        display: inline;
    }
}
