@use './styles/variables' as*;


.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  min-width: 320px;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Montserrat",sans-serif;

  @media (max-width:$bk-mobile){
    gap:27px;
  };
    
   

  &_container{
    max-width: 1240px;
    padding-top: 45px;
    width: 100%;

    @media (max-width:$bk-mobile) {
    padding-top: 0px;
    padding-left: 19px;
    padding-right: 19px;
    max-width: 375px;
    box-sizing: border-box;
    };
     @media (min-width:$bk-tablet-min) and (max-width:$bk-tablet-max){
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0;
    max-width: 1079px;
    box-sizing: border-box;
   }
   
  }
}
