@use './styles/variables' as*;


.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  min-width: 320px;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Montserrat",sans-serif;

  @media (max-width:$bk-mobile){
    gap:30px;
  };

  &_container{
    max-width: 1240px;
    padding-top: 45px;
    width: 100%;

    @media (max-width:$bk-mobile) {
    padding-top: 20px;
    padding-left: 19px;
    padding-right: 19px;
    max-width: 375px;
    box-sizing: border-box;

      }
  }
}
